table {
	color: #666;
	background: #f5f5f5;
}

th {
	background: #777;
	color: #fff;
	width: 150px;
	height: 50px;
}

td {
	width: 300px;
	height: 40px;
}

tr:nth-child(odd) td {
	background: #e6e6e6;
}

button {
	width: 75px;
}

tbody:hover tr:hover td {
	color: BLACK;
	background: #bfbfbf;
}

tbody {
	height: 400px;
	overflow: auto;
	width: 400px;
}

body,
button,
input {
	font-size: 20px
}
